/*CSS MAIN*/
main {
    margin-top: 135px;
}

/*título principal*/
#firt-title {
    background-color: var(--color-primary);
    text-align: center;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

/*Seção: um pouco sobre mim*/
#about {
    text-align: justify;
}

/*Seção: meus projetos e contato*/
#grid-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
}

#grid-projects>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    width: 100%;
    font-weight: bold;
    height: auto;
    padding: 10% 0;
    border-radius: 10px;
    background-image: url('/src/images/brick-wall.png');

}

#grid-projects p {
    background-color: var(--third-background);
}

#grid-projects a {
    display: inline;
    color: var(--text-color);
    background-color: var(--third-background);
}

.video {
    width: min(98%, 1000px);
    -webkit-box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.75);
    font-size: 1rem;
}

.links-for {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

#experience li {
    margin-bottom: 12px;
}

/*Seção: em que projetos já participei? */
.fa-check {
    color: var(--color-third);
    font-weight: bold;
}

#experience {
    padding-bottom: 16%;
}

#experience ul {
    list-style: none;
}

#experience li::before {
    content: '👉 ';
}